mat-sidenav-container {
    height: 100%;
  }
  
  mat-sidenav, mat-sidenav-content {
      background-color: #f5f5f5;
  }
  
  mat-sidenav {
      background-color: #fff;
      width: 300px;
  }

  mat-toolbar {
    border-bottom: 1px solid #E0E0E0;
}

.example-spacer {
    flex: 1 1 auto;
  }