<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="assets/img/undraw_add_to_cart_re_wrdo.svg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
          <div class="d-flex justify-content-center">
            <h1>Log In</h1>
          </div>
          <div class="mb-4">
            <mat-form-field
              class="w-100"
              appearance="outline"
              floatLabel="always"
            >
              <mat-label>Username</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
          <!-- <mat-form-field class="drop-down">
            <mat-label>Choose a theme</mat-label>
            <mat-select (selectionChange)="setTheme($event)">
              <mat-option value="light">light</mat-option>
              <mat-option value="light2">light2</mat-option>
            </mat-select>
          </mat-form-field> -->
          <div class="mb-4">
            <mat-form-field
              class="w-100"
              appearance="outline"
              floatLabel="always"
            >
              <mat-label>Password</mat-label>
              <input matInput floatLabel="always" type="password" />
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-around align-items-center mb-4">
            <button
              id="login_button"
              mat-raised-button
              class="w-100"
              color="primary"
              (click)="login()"
            >
              Log in
            </button>
          </div>
          <!-- <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-link">Link</button> -->
        </form>
      </div>
    </div>
  </div>
</section>
