/* You can add global styles to this file, and also import other style files */
@use "~@angular/material/theming" as material;
@use "sass:map";

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

$emma-typography: material.mat-typography-config(
  $font-family: "'Roboto-Regular',sans-serif"
);


@mixin create-theme($workshop-theme) {
  //@include material.angular-material-theme($workshop-theme);
  @include material.mat-core-theme($workshop-theme);
  @include material.mat-select-theme($workshop-theme);
  @include material.mat-toolbar-theme($workshop-theme);
  @include material.mat-button-theme($workshop-theme);
  @include material.mat-card-theme($workshop-theme);
  @include material.mat-form-field-theme($workshop-theme);
}
