@use "~@angular/material/theming" as material;
@use './common.scss';

$mat-primary: (
  50 : #f0e5fa,
  100 : #d9bff3,
  200 : #c094eb,
  300 : #a769e2,
  400 : #9449dc,
  500 : #8129d6,
  600 : #7924d1,
  700 : #6e1fcc,
  800 : #6419c6,
  900 : #510fbc,
  A100 : #f1eaff,
  A200 : #cfb7ff,
  A400 : #ae84ff,
  A700 : #9d6aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$mat-accent: (
    50 : #fef5e3,
    100 : #fde5b8,
    200 : #fcd489,
    300 : #fac35a,
    400 : #f9b636,
    500 : #f8a913,
    600 : #f7a211,
    700 : #f6980e,
    800 : #f58f0b,
    900 : #f37e06,
    A100 : #ffffff,
    A200 : #fff2e7,
    A400 : #ffd7b4,
    A700 : #ffc99b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$mat-warn: (
    50 : #f5e6e6,
    100 : #e5c0c0,
    200 : #d49797,
    300 : #c36d6d,
    400 : #b64d4d,
    500 : #a92e2e,
    600 : #a22929,
    700 : #982323,
    800 : #8f1d1d,
    900 : #7e1212,
    A100 : #ffb3b3,
    A200 : #ff8080,
    A400 : #ff4d4d,
    A700 : #ff3333,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);


$emma-primary: material.mat-palette($mat-primary, 500, 200, 800);
$emma-accent: material.mat-palette($mat-accent, 500, 200, 800);
$emma-warn: material.mat-palette($mat-warn, 500, 200, 800);

$emma-theme: material.mat-light-theme(
  (
    color: (
      primary: $emma-primary,
      accent: $emma-accent,
      warn: $emma-warn
    ),
    typography: common.$emma-typography,
    density: minimum
  )
);


//Generate theme
@include common.create-theme($emma-theme);



h1{
  font-size: 34px;
}

h5{
  font-size: 24px;
}

p{
  font-size: 16px;
}

//Bootstrap Pallete

$primary-color: #8129D6;
$secondary-color: #56006B;
$success-color: #6CC7B5;
$info-color: #1961D7;
$warning-color:#f8a913;
$danger-color:#e41213;
$light-color:#f5f5f5;
$dark-color:#8B959B;

$theme-colors: (
  "primary":    $primary-color,
  "secondary":  $secondary-color,
  "success":    $success-color,
  "info":       $info-color,
  "warning":    $warning-color,
  "danger":     $danger-color,
  "light":      $light-color,
  "dark":       $dark-color,
);

$custom-colors: (
  "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap";