@use "~@angular/material/theming" as material;
@use "./common.scss" as common;

@include material.mat-core(common.$emma-typography);


html,
body {
  height: 100%;
}
body {
  margin: 0; 
  font-family: Roboto-Regular, sans-serif;
}

.gradient-bg{
  background: linear-gradient(180deg, rgba(228,18,19,1) 0%, rgba(131,39,106,1) 100%); 
}